<p id="notice"><%= notice %></p>

<h1>Caster Profiles</h1>

<table>
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone Number</th>
      <th>Shoe_Size</th>
      <th>Cloth_Size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @caster_profiles.each do |caster_profile| %>
      <tr>
        <td><%= caster_profile.first_name %></td>
        <td><%= caster_profile.last_name %></td>
        <td><%= caster_profile.email %></td>
        <td><%= caster_profile.phone_number %></td>
        <td><%= caster_profile.shoe_size %></td>
        <td><%= caster_profile.cloth_size %></td>
        <td><%= link_to 'Show', caster_profile %></td>
        <td><%= link_to 'Edit', edit_caster_path(caster_profile) %></td>
        <td><%= link_to 'Destroy', caster_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User Profile', new_caster_path %>
