<!DOCTYPE html>
<html>
  <head>
    <title>AlphaBlog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render 'layouts/navbar' %>
  	<%= render 'layouts/messages' %>
    <div class="container">
    <%= yield %>

  </div>
  <%= render 'layouts/footer' %>
  <!-- Start of BotEngine (www.botengine.ai) code -->
<!-- <script type="text/javascript">
    window.__be = window.__be || {};
    window.__be.id = "5ae1164d2feb9a0007f2a70e";
    (function() {
        var be = document.createElement('script'); be.type = 'text/javascript'; be.async = true;
        be.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.botengine.ai/widget/plugin.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(be, s);
    })();
</script> -->
<!-- End of BotEngine code -->

<iframe src='https://webchat.botframework.com/embed/TrackApp?t=v5qS3aGAwpI.dAA.SQBWAEIAMwBIAEoAdwBQAHEAVgBsADEAUwBqAGQAdwBSAGIAUABpADMAaAA.-li_ypnj0wE.o_d4qXMn2Rg.zDyeGvMMNi71w0AKlL5_twf47m3bFuMEZy53uDoyX9s' style="frameborder:0";align:middle;"></iframe>
  </body>
</html>
